<!DOCTYPE html>
<html>
<head>
  <title>Budget Application</title>
  <meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Changa+One" rel="stylesheet">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/budget_app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.select').selectmenu();
    });
  </script>
</head>
<body>

  <h1>Personal Budget</h1>

  <%== yield %>

</body>
</html>