<form method="post" action="/signup" class="signup">
  <% if session[:message] %>
    <p class="message"><%= session.delete(:message) %></p>
  <% end %> 
  <h3>Please fill up the form</h3>
  <label><input type="text" placeholder="Username" name="username" required></label>
  <label><input type="password" placeholder="Password" name="password" required></label>
  <label><input type="text" placeholder="First Name" name="first_name" value="<%= params[:username] %>" required></label>
  <label><input type="text" placeholder="Last Name" name="last_name" required></label>
  <label><input type="email" placeholder="Email" name="email" required></label>
  <input type="submit" value="Register">
</form>